.loginSignup {
  min-height: 100vh;
  display: grid;
  place-items: center;
  /* background: gray; */
}
.login-container {
  /* width: 90vw; */
  max-width: 600px;
  text-align: center;
}
img {
  margin-bottom: 2rem;
  border-radius: 12px;
}
h1 {
  margin-bottom: 1.5rem;
}
